<% provide :title, 'Home' %>
<div class="container">
	<div class="row">
	    <div class="col-lg-8 otm-updates">
	        <h1>News & Updates</h1>
	        <a href="#">
	        	<div class="otm-border-left row">
	        	    <div class="col-lg-4">
	        	        <%= image_tag 'nelson.jpeg', class: 'img-responsive' %>
	        	    </div>
	        	    <div class="col-lg-8">
	        	        <h2>Elder Nelson for mission tour!</h2>
	        	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam placeat facilis quo aliquam, ut obcaecati perferendis aliquid ex voluptas aut. Atque aut id, dolor nesciunt qui consequuntur tempora harum tempore.</p>
	        	    </div>
	        	</div>
        	</a>
	        <div class="otm-border-left">
	            <h2>Update 2</h2>
	            <p>Pariatur nam consequatur similique rerum tempora, consectetur dolorum eaque voluptates illo. Odio ut velit distinctio eos quam suscipit quidem, vero. Voluptatem laboriosam iure non, veniam dicta optio consequatur, adipisci! Tenetur.</p>
	        </div>
	        <div class="otm-border-left">
	            <h2>Update 3</h2>
	            <p>Unde totam quis, rerum suscipit ea quasi facere? Deserunt numquam, nobis, maiores voluptas corrupti minima expedita eligendi maxime magni fugiat commodi cum delectus vel voluptatem nihil. Illo rerum incidunt aliquid.</p>
	        </div>
	    </div>
	    <div class="col-lg-4 otm-events">
	        <h1>Events</h1>
	        <div class="otm-border-left">
	            <h3>Reunion</h3>
	            <p class="text-muted">1/11/15 @ 7PM</p>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, error.</p>
	        </div>
	        <div class="otm-border-left">
	            <h3>New Stake</h3>
	            <p class="text-muted">2/12/15 @ 7PM</p>
	            <p>Cumque a similique temporibus assumenda veniam fugiat obcaecati consequuntur eveniet.</p>
	        </div>
	    </div>
	</div>
</div>