@import url(http://fonts.googleapis.com/css?family=Bitter|Roboto:400italic,700,400);

// Site styles
// =================================
body {
    background-image: asset_url('textures/upfeathers.png');
    font-family: 'Roboto', 'Calibri', Sans-Serif;
    font-size: 14px;
    // background-image: asset_url('thefieldiswhite.png');
    // background-repeat: repeat-x;
    // background-attachment: fixed;
    // background-position: bottom;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', 'Helvetica', Serif;
}

.btn {
    border-radius: 0;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

.otm-border-left {
    border-left: 5px solid $brand-primary;
    padding: 5px 10px;
    margin: 5px 0;
    color: $text-color;

    @include transition(border-left-color .1s ease-in);

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
    &:hover {
        border-left-color: $brand-secondary;
        // background-color: lighten($brand-secondary, 45%);
    }
}
/* Updates */

@media (min-width: 1200px) {
    .otm-updates {
        // border-right: 1px dotted #ccc;
    }
}
/* Events */

.otm-events {}

// Sign up
.centered-text {
    text-align: center;
}

// Navbar
// =====================================
.navbar {
    margin-top: 40px;
    border-radius: 0;
}

.navbar-default {
    background-color: $brand-primary;
    border-color: darken($brand-primary, 6.5%);
    // brand
    .navbar-brand {
        color: #fff;

        .otm-logo {
            position: relative;
            z-index: 99999;
            bottom: 40px;
            right: 5px;
        }
    }
    .navbar-brand:hover,
    .navbar-brand:focus {
        color: #fff;
    }
    // links
    .navbar-nav > li > a {
        color: #fff;
    }
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        color: #fff;
        background-color: darken($brand-primary, 6.5%);
    }
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: darken($brand-primary, 6.5%);
    }
    .navbar-nav > .open > a {
        background-color: darken($brand-primary, 6.5%);
    }
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: darken($brand-primary, 6.5%);
    }
    // mobile
    .navbar-toggle {
        border-color: #DDD;
    }
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: #DDD;
    }
    .navbar-toggle .icon-bar {
        background-color: #CCC;
    }
    @media (max-width: 767px) {
        .navbar-nav .open .dropdown-menu > li > a {
            color: #777;
        }
        .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
        }
    }
}
